// Main colors 
$color-black: #000000;
$color-black-1: #222323;
$color-white: #ffffff;
$color-white-1: #EDF1F2;
$color-grey: #4F5659;
$color-grey-2: #545C5F;
$color-grey-3: #202324;
$color-grey-4: #D8E0E2;
$color-grey-5: #34393A;
$color-grey-6: #8CA4AB;
$color-grey-7: #939C9F;
$color-blue: #03062F;
$color-blue-1: #030F3F;
$color-blue-2: #528FF0;
$color-blue-3: #2783F3;
$color-green: #00BA74;
$color-green-2: #B1FBE3;
$color-green-3: #58C19C;
$color-orange: #DE742D;
$color-purple: #A07EDC;