.tr-btn {
    padding: 12px 20px;
    border-radius: 2px;
    background-color: $color-blue-1;
    color: $color-white;
    font-weight: $font-bold;
    display: inline-block;
    transition: all 0.4s;
    border: 1px solid $color-blue-2;
    &:hover {
        background-color: $color-white;
        color: $color-blue-2;
        border: 1px solid $color-blue-2;
    }
    &--arrow-white {
        background-color: $color-white;
        color: $color-blue-2;
        display: inline-flex;
        align-items: center;
        border: 1px solid $color-white;
        svg {
            width: 16px;
            height: 16px;
            margin-left: 8px;
            path {
                transition: all 0.4s;
            }
        }
        &:hover {
            background-color: $color-blue-1;
            color: $color-white;
            border: 1px solid $color-blue-2;
            svg {
                path {
                    fill: $color-white;
                }
            }
        }
    }
    &--blue {
        background-color: $color-blue-3;
        border: 1px solid $color-blue-3;
        color: $color-white;
    }
    &--green{
        background-color: $color-green;
        border: 1px solid $color-green;
        color: $color-white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        svg{
            width: 20px;
            height: 20px;
            fill: $color-white;
            margin-right: 15px;
            transition: 0.3s;
        }
        &:hover{
            background-color: $color-white;
            border: 1px solid $color-green;
            color: $color-green;
            svg{
                fill: $color-green;
            }
        }
    }
}